:root{
    --primary-color: #faedcd;
    --secondary-color: #d4a373;
    --tertiary-color: #fefae0; 
    /* --text-color:  #CB8C4F; */
    --text-color:  #4B2E12;

    --color1: #9ACD32;
    --color2: #FFFFFF;
    --color3: #E6E6FA;
    --color4: #FFE5B4;
    --color5:  #D3D3D3;
}
.navbar{
    background-color: var(--primary-color);
    /* background-color: var(--text-color); */
}
.navbar a{
    color: var(--text-color);
    /* font-weight: 700; */
}
.navbar .nav-item a{
    font-weight: 500;
}
.navbar .nav-item a i{
    font-size: 20px;
    font-weight: 500;
}
.main-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    color: var(--tertiary-color);
    background-color: var(--text-color);
}
.main-btn:hover{
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 100%; */
    border-radius: 100px;
    background-position: center center;
}
ul{
    list-style: none;
}
/* CUSTOM SCROLL BAR  */

::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-track{
    background: var(--white-color);
}
::-webkit-scrollbar-thumb{
    background: var(--text-color);
}
*, *:after, *:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HOME SECTION */

#home{
    background: url("/images/bg.png") no-repeat center center;
    /* height: 500px; */
    /* background-size: cover; */
    /* background-position: center center;
    background-repeat: no-repeat; */
}
.input-box{
    border: 1px solid red;
}
.input-box > input{
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    width: 70%;
    position: relative;
}
.input-box  button{
    position: absolute;
    margin-left: -5%;
}

/* SERVICES SECTION  */

#services{
    background-color: #4B2E12;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}
#services .col-md-4{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#services .product_img img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: contain;
    background-position: center center;
    border: 7px solid #ea4788eb;

}
#services h3{
    /* text-align: start; */
}
#services .container{
    /* border: 2px solid red; */
}
.product_description h4{
    font-size: 17px;
}
.product_description p{
    font-size: 14px;
    color: gray;
    text-align: center;
}

/* TREATMENT SECTION  */

#treatment img{
    width: 100%;
    background-position: center;
    border-radius: 0;
}
#treatment .icon img{
    width: 70px;
    height: 70px;
}

#products{
    text-align: center;
    background-color: #d4a373;
}
#products .col-md-3{
    /* border: 2px solid green; */
}
#products .selling-img{
    /* border: 2px solid red; */
    /* width: 250px;
    height: 250px; */
    width: 100%;
    position: relative;
}
#products .selling-img img{
    width: 100%;
}
#products .selling-img > p{
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: #4B2E12;
    color: #D3D3D3;
    padding: 5px 15px;
    border-radius: 10px;
}
#products .selling-img-description h6{
    color: #4B2E12;
}
#products .selling-img-description p{
    color: #9ACD32;
}
/* BLOG SECTION  */

.blog-img{
    width: 100%;
}
.blog-img img{
    width: 100%;
}

/* LOCATION  */
#location{
    border: 2px red;
}
#location .row iframe{
    position: relative;
}
#location .location-description{
    position: absolute;
    background-color: var(--color3);
    /* bottom: 0; */
    /* margin: 22px; */
}

/* FOOTER SECTION  */

#footer{
    background-color: #4B2E12;
    color: #ffffff;
}
#footer ul>li{
    margin-bottom: 3%;
    color: #a7a1a1;
}